@--main-color: #0089f3;
@media (max-width: 1024px) {
    .mobile_layout__container {
        .mobile-layout__header {
            display: flex;
            align-items: center;
            height: 50px;
            background: @--main-color;
            .user-avatar{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-left: 1em;
            }
            h2{
                color:#fff;
                font-size: 1.1em;
                font-family: 'hk';
                margin:0 auto;
            }
            .asg-operation-icon{
                margin-right: 1em;
                font-size: 1.2em;
                color:#fff;
                cursor: pointer;
            }
        }
        // 中间部分
        .mobile-layout__main{
            height:calc(100dvh - 50px);
            padding-bottom: 50px;
            overflow-y: auto;
        }
        // 底部
        .mobile-layout__footer{
            background: @--main-color;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            height:50px;
            position: fixed;
            bottom:0;
            width:100%;
            .footer-tab{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap:0.2em;
                color:#fff;
                transition: .3s all;
                &.active{
                    color:#F7E751;
                }
                p{
                    font-size: 0.65em;
                }
            }
        }

    }
}