@--main-color: #0089f3;
@media (max-width: 1024px) {
    .mobile_layout__container {
        .mobile-layout__header {
            display: flex;
            align-items: center;
            height: 50px;
            background: @--main-color;
            position: sticky;
            top:0;

            .user-avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid #fff;
                margin-left: 1em;

                .error-image {
                    width: 30px;
                    height: 30px;
                    background-color: #e7e7e7;
                }
            }

            h2 {
                color: #fff;
                font-size: 1.1em;
                font-family: 'hk';
                margin: 0 auto;
            }

            .asg-operation-icon {
                margin-right: 1em;
                font-size: 24px;
                color: #fff;
                cursor: pointer;
            }
        }

        // 中间部分
        .mobile-layout__main {
            width: 100vw;
            height: calc(100dvh - 50px);
            overflow-y: auto;
            overflow-x: hidden;
            background: #f5f7f8;
        }

        // 底部
        .mobile-layout__footer {
            background: @--main-color;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            height: 60px;
            position: fixed;
            bottom: 0;
            width: 100%;

            .footer-tab {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 0.2em;
                color: #fff;
                transition: .3s all;

                &.active {
                    color: #F7E751;
                }

                p {
                    font-size: 0.6em;
                }
            }
        }

        // 抽屉部分
        .menu-drawer-container {
            position: relative;
            width: 100%;
            background: #f5f7f8;

            .menu-content {
                height: calc(100dvh - 50px);
                padding-bottom: 50px;
                overflow: scroll;

                // 菜单部分
                .content-parent {
                    margin: 1em auto;
                    width: 90%;
                    background: #fff;
                    border-radius: 6px;

                    .menu_header {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid @--main-color;
                        font-size: 0.9em;

                        .svg-icon {
                            margin: 0 0.5em;
                        }

                        .menu-title {
                            color: @--main-color;
                            font-size: 1em;
                            font-weight: 500;
                        }
                    }

                    .child-menu {
                        height: 40px;
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid #e7e7e7;
                        font-size: 0.9em;

                        .svg-icon {
                            margin: 0 0.5em;
                        }

                        .menu-text {
                            font-size: 14px;
                        }
                        &:last-child{
                             border-bottom: none;
                        }
                    }
                }
            }

            // 底部操作按钮
            .operation-btnlist {
                width: 100%;
                position: absolute;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                bottom: 0;
                font-size: 14px;
                background: #fff;

                .my-button__wrap {
                    font-size: 1.1em;
                    &.goback {
                        margin-left: 1.2em;
                    }

                    &.logout {
                        margin-right: 1.2em;
                        color: #f40;
                    }
                }
            }
        }
    }
}