@media (max-width: 1024px) {
    .grid__container{
        display: flex !important;
        flex-direction: column !important;
        .search_content{
            grid-template-columns: repeat(1, 1fr) !important;
        }
        .button--right{
            text-align: center !important;
        }
    }
    .grid--three{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .form_content--main{
        width: 95% !important;
        margin:0 auto;
    }
    .flex__content--between{
        width: 95% !important;
        margin: 12px auto !important;
    }
}