@media (max-width: 1024px) {
    .header__content {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em auto !important;
    }

    .main__container {
        width: 95%;
        margin: 0 auto;

        .table-content {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center;
            gap:1em;
            .left-content {
                display: grid;
                grid-template-columns: repeat(1, 1fr) !important;
                gap: 1em;
            }
            .right-content{
                border-left: none !important;
                border-top:1px solid #dddd;
                padding:0.5em 0;
            }
        }
    }
}